@{
    ViewBag.Title = "角色页";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>崩坏学园2 角色介绍</title>
    <link rel="stylesheet" href="~/Content/juese/juese.css">
    <script type="text/javascript" src="~/Content/juese/juese.js"></script>

</head>
<body>
    
    <main>
        <section class="intro">
            <h1>Honkai Impact 2 character introduction</h1>
            <p>This is the best place for you to get character information!</p>

            <div class="filter-options">
                <label for="role-filter">Select a role category:</label>
                <select id="role-filter">
                    <option value="all">All</option>
                    <option value="琪亚娜·卡斯兰娜">琪亚娜</option>
                    <option value="雷电芽衣">芽衣</option>
                    <option value="布洛妮娅·扎伊切克">布洛尼亚</option>
                    <option value="宁蒂·阿波卡利斯">宁蒂</option>
                </select>
            </div>

            <p></p>

            <div class="character-list">

                <div class="character-item" data-category="琪亚娜">
                    <div class="character-highlight">
                        <img src="~/Content/juese/juese1.jpg" alt="角色图片" class="character-image">
                        <div class="character-description">
                            <h3>琪亚娜·卡斯兰娜</h3>
                            <p>Chinese voice acting: Yamashin, Tao Dian Japanese voice acting: Takumiya Rie</p>
                            <p>69th descendant of the Caslana family. When Kiana was 12 years old, her father took her to the Far East alone to investigate the "subway Sarin terror" that was regarded as a possible precursor to the collapse. When Kiana was 14 years old, her father passed on all the secrets of the family to Kiana, and then disappeared from view, leaving only the words "I went to find the source of the collapse."</p>
                        </div>
                    </div>
                </div>
                

                <p></p>

                <div class="character-item" data-category="芽衣">
                    <div class="character-highlight">
                        <img src="~/Content/juese/juese2.jpg" alt="角色图片" class="character-image">
                        <div class="character-description">
                            <h3>雷电芽衣</h3>
                            <p>Voiced in Chinese by TetraCalyx and Zhao Yitong. Voiced in Japanese by Miyuki Sawajo and Chikazu Saito</p>
                            <p>Her father was the president of a famous foreign enterprise, when he was 15 years old, the enterprise was deeply affected by the financial crisis, and his father was also deeply involved in the economic fraud case, and eventually he was imprisoned, and almost all his family assets were frozen. This incident has a great impact on the world of Ya Yi, but also makes her former cheerful personality become a little eccentric.</p>
                        </div>
                    </div>
                    </div>

                    <p></p>

                    <div class="character-item" data-category="布洛尼亚">
                        <div class="character-highlight">
                            <img src="~/Content/juese/juese3.jpg" alt="角色图片" class="character-image">
                            <div class="character-description">
                                <h3>布洛妮娅·扎伊切克</h3>
                                <p>Narrated in Chinese by TetraCalyx and Hanser. Narrated in Japanese by Kana Asumi and Kana Hanazawa</p>
                                <p>The adopted daughter of a Russian heavy industry family business, is the pilot of the company's next generation humanoid combat weapons project. In the experiment, Bronia's personality was removed in order to be more compatible with the brain-computer interface, so as to achieve the realm of human and mechanical fusion.</p>
                            </div>
                        </div>
                        </div>

                        <p></p>

                        <div class="character-item" data-category="宁蒂">
                            <div class="character-highlight">
                                <img src="~/Content/juese/宁蒂.jpg" alt="角色图片" class="character-image">
                                <div class="character-description">
                                    <h3>宁蒂·阿波卡利斯</h3>
                                    <p>Chinese dub:闲踏梧桐</p>
                                    <p>The youngest S-class Valkyrie in history, with a small body but the power to fight Walther, is directly under Otto's law of the attack Valkyrie.</p>
                                </div>
                            </div>
                        </div>
            </div>

</section>



        <section class="news">
            <h2>The latest word</h2>
            <div class="character-highlight">
                <img src="~/Content/juese/juese4.jpg" alt="角色图片" class="character-image">
                <div class="character-description">
                    <h3>Near-term linkage</h3>
                    <p>
                        Even if it burns out, it must be realized!<br />
                        Now is the time! It's time to fight back!
                    </p>
                    <p>Honkai Impact 2  X  Saga Idol is a legendary comeback linkage officially announced!</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>版权所有 © 崩坏学园2角色介绍</p>
    </footer>
</body>
</html>